<!DOCTYPE html>
<html lang="en">

<% const pageTitle = "Lobby" %>
<% const directoryDepth = "./" %>

<%- include partials/head %>

<body>
  <h1><%= pageTitle %></h1>

  <% rooms.forEach((room, id) => { %>
    <article class="room">
      <ul class="room-data">
        <li class="room-id"><%= id %></li>
        <li class="room-difficulty"><%= room.difficulty %></li>
        <li class="room-players">
          <span class="current"><%= room.players%></span>
          <span class="max"><%= room.maxPlayers %></span></li>
      </ul>
      <a class="overlay" href="room/<%= id %>"></a>
    </article>
  <% }) %>

  <% const pageCategory = "lobby" %>
  <%- include partials/scripts %>
</body>
</html>
